div {
    height: 300px;
    width: 400px;
    display: flex;

}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .8s;
}

img:hover {
    width: 140%;
    height: 140%;
}